node_modules
cypress
public
src/*

!src/components
!src/router
!src/views

src/components/*
src/views/*

!src/views/Akademik
!src/views/Master
!src/views/Admin

!src/components/Nav
!src/views/NotFountView.vue
!src/views/ServerErrorView.vue

src/views/Akademik/*
src/views/Master/*
src/views/Admin/*

!src/views/Akademik/KalenderAkademik.vue
!src/views/Master/IdentitasInstitute.vue
!src/views/Admin/Administrator.vue
!src/views/Admin/Akademik.vue
