node_modules
cypress
public
src/*

!src/App.vue
!src/main.ts

!src/components
!src/router
!src/views

src/components/*
src/views/*

!src/views/Akademik
!src/views/Master
!src/views/Admin

!src/components/Nav
!src/views/NotFountView.vue
!src/views/ServerErrorView.vue

src/views/Akademik/*
src/views/Master/*
src/views/Admin/*

!src/views/Akademik/KalenderAkademik.vue
!src/views/Master/IdentitasInstitute.vue
!src/views/Master/IdentitasUpdate.vue
!src/views/Master/ProgramStudi.vue
!src/views/Master/ProgramStudiAdd.vue
!src/views/Master/ProgramStudiUpdate.vue
!src/views/Master/Program.vue
!src/views/Master/ProgramAdd.vue
!src/views/Master/ProgramUpdate.vue
!src/views/Master/Fakultas.vue
!src/views/Master/FakultasAdd.vue
!src/views/Master/FakultasUpdate.vue
!src/views/Master/Kampus.vue
!src/views/Master/KampusAdd.vue
!src/views/Master/KampusUpdate.vue
!src/views/Admin/Administrator.vue
!src/views/Admin/AdminAdd.vue
!src/views/Admin/AdminUpdate.vue
!src/views/Admin/Akademik.vue
!src/views/Admin/AkademikAdd.vue
!src/views/Admin/HakModul.vue
