node_modules
cypress
public
src/*

!src/components
!src/router
!src/views

src/components/*
src/views/*

!src/views/Akademik

!src/components/Nav
!src/views/NotFountView.vue
!src/views/ServerErrorView.vue

src/views/Akademik/*

!src/views/Akademik/KalenderAkademik.vue
